version: "3.9"

services:
  backend:
    build:
      context: ./server/movie-stream-api
      dockerfile: Dockerfile
    container_name: movie-stream-api
    ports:
      - "5000:5000"
    env_file:
      - ./server/movie-stream-api/.env
    environment:
      - GIN_MODE=release
    networks:
      - app-network

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: movie-stream-frontend
    ports:
      - "3000:80"
    env_file:
      - ./client/.env
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
