version: "3.9"

services:

  mongo:
    image: mongo:6
    container_name: movie-stream-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=movie-stream
    restart: unless-stopped
    networks:
      - app-network

  backend:
    build:
      context: ./server/movie-stream-api
      dockerfile: Dockerfile
    container_name: movie-stream-api
    ports:
      - "5000:5000"
    env_file:
      - ./server/movie-stream-api/.env
    environment:
      - GIN_MODE=release
      - MONGODB_URI=mongodb://mongo:27017/movie-stream
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: movie-stream-frontend
    ports:
      - "3000:80"
    env_file:
      - ./client/.env
    depends_on:
      - backend
    networks:
      - app-network
      
volumes:
  mongo_data:
networks:
  app-network:
    driver: bridge
